page-home {
    .bg{
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    }
.form-gop {
  position: relative;
  z-index: 2;
  text-align: center;
}
.form-gop input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
.form-gop input:hover {
  background-color: rgba(255, 255, 255, 0.4);
  }
  .form-gop input:focus {
    background-color: white;
    color: #53e3a6;
  }
  .form-gop button{
    height: 50px;
    font-size: 20px;
  }
}
